.page {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
  align-self: flex-start;
  justify-self: end;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
  justify-self: start;
  align-self: flex-end;
}

.header {
    min-height: 100vh;
    padding: 10px;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__decoration-dark {
    align-self: flex-start;
    justify-self: end;
    position: absolute;
    visibility: var(--is-light);
    display: flex;
    gap: 10px;
    height: 25px;
    color: var(--general-color);
    font-size: var(--regular-font-size);
    text-transform: uppercase;
    line-height: 25px;
  }

  .header__decoration-dark::after {
    align-self: center;
    content: "";
    width: 9px;
    height: 9px;
    margin-right: 9px;
    background-color: var(--general-color);
    border-radius: 50%;
    filter: drop-shadow(0 0 4px var(--general-color));
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header__theme-menu-button {
    padding: 4px 13px;
    background-color: transparent;
    border: none;
    font-size: var(--regular-font-size);
    line-height: var(--regular-line-height);
    text-transform: lowercase;
    color: var(--decoration-color);
    cursor: pointer;
  }

  .header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--decoration-color);
  }

  .header__title {
    grid-column: 1 / 3;
    justify-self: start;
    color: var(--title1-color);
    text-shadow: 4px 4px 0 var(--general-color);
    font-size: var(--display-title-size);
    line-height: var(--small-line-height);
  }

  .header__text {
    grid-column: 1 / 3;
    justify-content: end;
    display: inline-block;
  }

  .link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--general-color);
  }

  .link:focus-visible {
    outline: none;
  }

  .main {
    margin: 40px 0;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }

  .topic {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .topic__title {
    grid-column: 1 / 4;
    color: var(--title2-color);
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--large-line-height);
  }

  .topic__card {
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: min-content auto;
    row-gap: 10px;
  }

  .title_decor {
    grid-column: 1 / 4;
    color: var(--title3-color);
    background-color: var(--general-color);
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    line-height: var(--large-line-height);
  }

  .card__text {
    grid-column: 1 / 4;
    color: var(--text-color);
    font-size: var(--regular-font-size);
    line-height: var(--large-line-height);
  }

  .topic-pictures {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .topic__image {
    grid-column: 1 / 4;
    width: 100%;
    height: 100%;
  }

  .thin-title {
    font-weight: var(--regular-font-weight);
  }

  .footer {
    padding: 10px;
    min-height: 100vh;
    display: grid;
  }

  .footer__title {
    justify-self: center;
    align-self: center;
    color: var(--title1-color);
    text-shadow: 2px 2px 0 var(--general-color);
    font-size: var(--display-title-size);
    line-height: var(--small-line-height);
  }

  @media (min-width: 768px) {
    :root {
      --display-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
    
    .header {
      padding: 20px;
    }

    .header__title {
      position: relative;
      margin-left: -20px;
    }

    .header__text {
      grid-column: 2 / 3;
    }

    .main {
      margin: 60px 0;
      padding: 0 20px;
      row-gap: 80px;
    }

    .topic {
      grid-template-columns: 1fr 2fr;
    }

    .topic__title {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .topic__card {
      grid-column: 2 / 3;
    }

    .topic:nth-child(2) .topic__card {
      grid-column: 1 / 4;
    }

    .topic > .title_decor {
      grid-column: 2 / 3;
    }

    .topic-pictures {
      gap: 20px;
    }

    .topic__image {
      object-fit: cover;
      object-position: center;
    }

    .topic__image:nth-child(2) {
      grid-column: 1 / 3;
    }

    .topic__image:nth-child(3) {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
    }

    .topic__image:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 3 / 5;
    }

    .topic__image:nth-child(5) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    .topic__image:nth-child(6) {
      grid-column: 2 / 4;
      grid-row: 4 / 5;
    }

    .footer {
      padding: 20px;
    }
  }

  @media (min-width: 1024px) {
    .link:hover {
      border-bottom: 1px solid var(--text-color);
    }

    .link:focus {
      outline: none;
    }

    .link:focus-visible {
      outline: 1px solid var(--text-color);
      outline-offset: -1px;
    }

    .header__theme-menu {
      align-self: start;
      justify-self: center;
    }

    .header__theme-menu-list {
      flex-direction: row;
    }

    .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
      border: 1px solid var(--general-color-opacity);
    }

    .header__theme-menu-button:focus {
      outline: none;
    }

    .header__theme-menu-button:focus-visible {
      border: none;
      outline: none;
      border-bottom: 1px solid var(--decoration-color);
    }

    .header__title {
      font-size: var(--display-title-size);
    }

    .topic {
      grid-template-columns: repeat(3, 1fr);
    }

    .topic__card {
      grid-column: 2 / 4;
    }

    .topic:nth-child(2) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    .topic:nth-child(2) .topic__title {
      grid-row: span 1;
    }

    .topic:nth-child(2) .topic__card {
      grid-row: 2 / 3;
      grid-column: span 1;
    }

    .topic > .title_decor {
      grid-column: 2 / 4;
    }
  }